## {{ ansible_managed }} ##

[mode:sshpass]
password_prompt: {{ clustershell_sshpass_password_prompt }}
ssh_path: {{ clustershell_sshpass_ssh_path }}
scp_path: {{ clustershell_sshpass_scp_path }}
ssh_options: {{ clustershell_sshpass_ssh_options }}
